:root {
  --display-bold-large-font-family: "Inter", Helvetica;
  --display-bold-large-font-size: 52px;
  --display-bold-large-font-style: normal;
  --display-bold-large-font-weight: 700;
  --display-bold-large-letter-spacing: -1.04px;
  --display-bold-large-line-height: 56px;
  --display-bold-small-font-family: "Inter", Helvetica;
  --display-bold-small-font-size: 44px;
  --display-bold-small-font-style: normal;
  --display-bold-small-font-weight: 700;
  --display-bold-small-letter-spacing: -0.88px;
  --display-bold-small-line-height: 48px;
  --display-bold-xlarge-font-family: "Inter", Helvetica;
  --display-bold-xlarge-font-size: 72px;
  --display-bold-xlarge-font-style: normal;
  --display-bold-xlarge-font-weight: 700;
  --display-bold-xlarge-letter-spacing: -1.44px;
  --display-bold-xlarge-line-height: 76px;
  --display-extrabold-large-font-family: "Inter", Helvetica;
  --display-extrabold-large-font-size: 52px;
  --display-extrabold-large-font-style: normal;
  --display-extrabold-large-font-weight: 800;
  --display-extrabold-large-letter-spacing: -1.04px;
  --display-extrabold-large-line-height: 56px;
  --display-extrabold-small-font-family: "Inter", Helvetica;
  --display-extrabold-small-font-size: 44px;
  --display-extrabold-small-font-style: normal;
  --display-extrabold-small-font-weight: 800;
  --display-extrabold-small-letter-spacing: -0.88px;
  --display-extrabold-small-line-height: 48px;
  --display-extrabold-xlarge-font-family: "Inter", Helvetica;
  --display-extrabold-xlarge-font-size: 72px;
  --display-extrabold-xlarge-font-style: normal;
  --display-extrabold-xlarge-font-weight: 800;
  --display-extrabold-xlarge-letter-spacing: -1.44px;
  --display-extrabold-xlarge-line-height: 76px;
  --display-medium-large-font-family: "Inter", Helvetica;
  --display-medium-large-font-size: 52px;
  --display-medium-large-font-style: normal;
  --display-medium-large-font-weight: 500;
  --display-medium-large-letter-spacing: -1.04px;
  --display-medium-large-line-height: 56px;
  --display-medium-small-font-family: "Inter", Helvetica;
  --display-medium-small-font-size: 44px;
  --display-medium-small-font-style: normal;
  --display-medium-small-font-weight: 500;
  --display-medium-small-letter-spacing: -0.88px;
  --display-medium-small-line-height: 48px;
  --display-medium-xlarge-font-family: "Inter", Helvetica;
  --display-medium-xlarge-font-size: 72px;
  --display-medium-xlarge-font-style: normal;
  --display-medium-xlarge-font-weight: 500;
  --display-medium-xlarge-letter-spacing: -1.44px;
  --display-medium-xlarge-line-height: 76px;
  --display-semibold-large-font-family: "Inter", Helvetica;
  --display-semibold-large-font-size: 52px;
  --display-semibold-large-font-style: normal;
  --display-semibold-large-font-weight: 600;
  --display-semibold-large-letter-spacing: -1.04px;
  --display-semibold-large-line-height: 56px;
  --display-semibold-small-font-family: "Inter", Helvetica;
  --display-semibold-small-font-size: 44px;
  --display-semibold-small-font-style: normal;
  --display-semibold-small-font-weight: 600;
  --display-semibold-small-letter-spacing: -0.88px;
  --display-semibold-small-line-height: 48px;
  --display-semibold-xlarge-font-family: "Inter", Helvetica;
  --display-semibold-xlarge-font-size: 72px;
  --display-semibold-xlarge-font-style: normal;
  --display-semibold-xlarge-font-weight: 600;
  --display-semibold-xlarge-letter-spacing: -1.44px;
  --display-semibold-xlarge-line-height: 76px;
  --drop-shadow-small: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  --drop-shadow-xsmall: 0px 1px 2px 0px rgba(16, 24, 40, 0.04), 0px 1px 2px 0px
    rgba(16, 24, 40, 0.04);
  --heading-h1-bold-desktop-font-family: "Inter", Helvetica;
  --heading-h1-bold-desktop-font-size: 40px;
  --heading-h1-bold-desktop-font-style: normal;
  --heading-h1-bold-desktop-font-weight: 700;
  --heading-h1-bold-desktop-letter-spacing: -0.8px;
  --heading-h1-bold-desktop-line-height: 48px;
  --heading-h1-bold-mobile-font-family: "Inter", Helvetica;
  --heading-h1-bold-mobile-font-size: 36px;
  --heading-h1-bold-mobile-font-style: normal;
  --heading-h1-bold-mobile-font-weight: 700;
  --heading-h1-bold-mobile-letter-spacing: -0.72px;
  --heading-h1-bold-mobile-line-height: 44px;
  --heading-h1-extrabold-desktop-font-family: "Inter", Helvetica;
  --heading-h1-extrabold-desktop-font-size: 40px;
  --heading-h1-extrabold-desktop-font-style: normal;
  --heading-h1-extrabold-desktop-font-weight: 800;
  --heading-h1-extrabold-desktop-letter-spacing: -0.8px;
  --heading-h1-extrabold-desktop-line-height: 48px;
  --heading-h1-extrabold-mobile-font-family: "Inter", Helvetica;
  --heading-h1-extrabold-mobile-font-size: 36px;
  --heading-h1-extrabold-mobile-font-style: normal;
  --heading-h1-extrabold-mobile-font-weight: 800;
  --heading-h1-extrabold-mobile-letter-spacing: -0.72px;
  --heading-h1-extrabold-mobile-line-height: 44px;
  --heading-h1-medium-desktop-font-family: "Inter", Helvetica;
  --heading-h1-medium-desktop-font-size: 40px;
  --heading-h1-medium-desktop-font-style: normal;
  --heading-h1-medium-desktop-font-weight: 500;
  --heading-h1-medium-desktop-letter-spacing: -0.8px;
  --heading-h1-medium-desktop-line-height: 48px;
  --heading-h1-medium-mobile-font-family: "Inter", Helvetica;
  --heading-h1-medium-mobile-font-size: 36px;
  --heading-h1-medium-mobile-font-style: normal;
  --heading-h1-medium-mobile-font-weight: 500;
  --heading-h1-medium-mobile-letter-spacing: -0.72px;
  --heading-h1-medium-mobile-line-height: 44px;
  --heading-h1-semibold-desktop-font-family: "Inter", Helvetica;
  --heading-h1-semibold-desktop-font-size: 40px;
  --heading-h1-semibold-desktop-font-style: normal;
  --heading-h1-semibold-desktop-font-weight: 600;
  --heading-h1-semibold-desktop-letter-spacing: -0.8px;
  --heading-h1-semibold-desktop-line-height: 48px;
  --heading-h1-semibold-mobile-font-family: "Inter", Helvetica;
  --heading-h1-semibold-mobile-font-size: 36px;
  --heading-h1-semibold-mobile-font-style: normal;
  --heading-h1-semibold-mobile-font-weight: 600;
  --heading-h1-semibold-mobile-letter-spacing: -0.72px;
  --heading-h1-semibold-mobile-line-height: 44px;
  --heading-h2-bold-desktop-font-family: "Inter", Helvetica;
  --heading-h2-bold-desktop-font-size: 36px;
  --heading-h2-bold-desktop-font-style: normal;
  --heading-h2-bold-desktop-font-weight: 700;
  --heading-h2-bold-desktop-letter-spacing: -0.72px;
  --heading-h2-bold-desktop-line-height: 44px;
  --heading-h2-bold-mobile-font-family: "Inter", Helvetica;
  --heading-h2-bold-mobile-font-size: 32px;
  --heading-h2-bold-mobile-font-style: normal;
  --heading-h2-bold-mobile-font-weight: 700;
  --heading-h2-bold-mobile-letter-spacing: -0.64px;
  --heading-h2-bold-mobile-line-height: 40px;
  --heading-h2-extrabold-desktop-font-family: "Inter", Helvetica;
  --heading-h2-extrabold-desktop-font-size: 36px;
  --heading-h2-extrabold-desktop-font-style: normal;
  --heading-h2-extrabold-desktop-font-weight: 800;
  --heading-h2-extrabold-desktop-letter-spacing: -0.72px;
  --heading-h2-extrabold-desktop-line-height: 44px;
  --heading-h2-extrabold-mobile-font-family: "Inter", Helvetica;
  --heading-h2-extrabold-mobile-font-size: 32px;
  --heading-h2-extrabold-mobile-font-style: normal;
  --heading-h2-extrabold-mobile-font-weight: 800;
  --heading-h2-extrabold-mobile-letter-spacing: -0.64px;
  --heading-h2-extrabold-mobile-line-height: 40px;
  --heading-h2-medium-desktop-font-family: "Inter", Helvetica;
  --heading-h2-medium-desktop-font-size: 36px;
  --heading-h2-medium-desktop-font-style: normal;
  --heading-h2-medium-desktop-font-weight: 500;
  --heading-h2-medium-desktop-letter-spacing: -0.72px;
  --heading-h2-medium-desktop-line-height: 44px;
  --heading-h2-medium-mobile-font-family: "Inter", Helvetica;
  --heading-h2-medium-mobile-font-size: 32px;
  --heading-h2-medium-mobile-font-style: normal;
  --heading-h2-medium-mobile-font-weight: 500;
  --heading-h2-medium-mobile-letter-spacing: -0.64px;
  --heading-h2-medium-mobile-line-height: 40px;
  --heading-h2-semibold-desktop-font-family: "Inter", Helvetica;
  --heading-h2-semibold-desktop-font-size: 36px;
  --heading-h2-semibold-desktop-font-style: normal;
  --heading-h2-semibold-desktop-font-weight: 600;
  --heading-h2-semibold-desktop-letter-spacing: -0.72px;
  --heading-h2-semibold-desktop-line-height: 44px;
  --heading-h2-semibold-mobile-font-family: "Inter", Helvetica;
  --heading-h2-semibold-mobile-font-size: 32px;
  --heading-h2-semibold-mobile-font-style: normal;
  --heading-h2-semibold-mobile-font-weight: 600;
  --heading-h2-semibold-mobile-letter-spacing: -0.64px;
  --heading-h2-semibold-mobile-line-height: 40px;
  --heading-h3-bold-desktop-font-family: "Inter", Helvetica;
  --heading-h3-bold-desktop-font-size: 32px;
  --heading-h3-bold-desktop-font-style: normal;
  --heading-h3-bold-desktop-font-weight: 700;
  --heading-h3-bold-desktop-letter-spacing: -0.64px;
  --heading-h3-bold-desktop-line-height: 40px;
  --heading-h3-bold-mobile-font-family: "Inter", Helvetica;
  --heading-h3-bold-mobile-font-size: 28px;
  --heading-h3-bold-mobile-font-style: normal;
  --heading-h3-bold-mobile-font-weight: 700;
  --heading-h3-bold-mobile-letter-spacing: -0.56px;
  --heading-h3-bold-mobile-line-height: 36px;
  --heading-h3-extrabold-desktop-font-family: "Inter", Helvetica;
  --heading-h3-extrabold-desktop-font-size: 32px;
  --heading-h3-extrabold-desktop-font-style: normal;
  --heading-h3-extrabold-desktop-font-weight: 800;
  --heading-h3-extrabold-desktop-letter-spacing: -0.64px;
  --heading-h3-extrabold-desktop-line-height: 40px;
  --heading-h3-extrabold-mobile-font-family: "Inter", Helvetica;
  --heading-h3-extrabold-mobile-font-size: 28px;
  --heading-h3-extrabold-mobile-font-style: normal;
  --heading-h3-extrabold-mobile-font-weight: 800;
  --heading-h3-extrabold-mobile-letter-spacing: -0.56px;
  --heading-h3-extrabold-mobile-line-height: 36px;
  --heading-h3-medium-desktop-font-family: "Inter", Helvetica;
  --heading-h3-medium-desktop-font-size: 32px;
  --heading-h3-medium-desktop-font-style: normal;
  --heading-h3-medium-desktop-font-weight: 500;
  --heading-h3-medium-desktop-letter-spacing: -0.64px;
  --heading-h3-medium-desktop-line-height: 40px;
  --heading-h3-medium-mobile-font-family: "Inter", Helvetica;
  --heading-h3-medium-mobile-font-size: 28px;
  --heading-h3-medium-mobile-font-style: normal;
  --heading-h3-medium-mobile-font-weight: 500;
  --heading-h3-medium-mobile-letter-spacing: -0.56px;
  --heading-h3-medium-mobile-line-height: 36px;
  --heading-h3-semibold-desktop-font-family: "Inter", Helvetica;
  --heading-h3-semibold-desktop-font-size: 32px;
  --heading-h3-semibold-desktop-font-style: normal;
  --heading-h3-semibold-desktop-font-weight: 600;
  --heading-h3-semibold-desktop-letter-spacing: -0.64px;
  --heading-h3-semibold-desktop-line-height: 36px;
  --heading-h3-semibold-mobile-font-family: "Inter", Helvetica;
  --heading-h3-semibold-mobile-font-size: 28px;
  --heading-h3-semibold-mobile-font-style: normal;
  --heading-h3-semibold-mobile-font-weight: 600;
  --heading-h3-semibold-mobile-letter-spacing: -0.56px;
  --heading-h3-semibold-mobile-line-height: 36px;
  --heading-h4-bold-desktop-font-family: "Inter", Helvetica;
  --heading-h4-bold-desktop-font-size: 28px;
  --heading-h4-bold-desktop-font-style: normal;
  --heading-h4-bold-desktop-font-weight: 700;
  --heading-h4-bold-desktop-letter-spacing: -0.56px;
  --heading-h4-bold-desktop-line-height: 36px;
  --heading-h4-bold-mobile-font-family: "Inter", Helvetica;
  --heading-h4-bold-mobile-font-size: 24px;
  --heading-h4-bold-mobile-font-style: normal;
  --heading-h4-bold-mobile-font-weight: 700;
  --heading-h4-bold-mobile-letter-spacing: -0.48px;
  --heading-h4-bold-mobile-line-height: 32px;
  --heading-h4-extrabold-desktop-font-family: "Inter", Helvetica;
  --heading-h4-extrabold-desktop-font-size: 28px;
  --heading-h4-extrabold-desktop-font-style: normal;
  --heading-h4-extrabold-desktop-font-weight: 800;
  --heading-h4-extrabold-desktop-letter-spacing: -0.56px;
  --heading-h4-extrabold-desktop-line-height: 36px;
  --heading-h4-extrabold-mobile-font-family: "Inter", Helvetica;
  --heading-h4-extrabold-mobile-font-size: 24px;
  --heading-h4-extrabold-mobile-font-style: normal;
  --heading-h4-extrabold-mobile-font-weight: 800;
  --heading-h4-extrabold-mobile-letter-spacing: -0.48px;
  --heading-h4-extrabold-mobile-line-height: 32px;
  --heading-h4-medium-desktop-font-family: "Inter", Helvetica;
  --heading-h4-medium-desktop-font-size: 28px;
  --heading-h4-medium-desktop-font-style: normal;
  --heading-h4-medium-desktop-font-weight: 500;
  --heading-h4-medium-desktop-letter-spacing: -0.56px;
  --heading-h4-medium-desktop-line-height: 36px;
  --heading-h4-medium-mobile-font-family: "Inter", Helvetica;
  --heading-h4-medium-mobile-font-size: 24px;
  --heading-h4-medium-mobile-font-style: normal;
  --heading-h4-medium-mobile-font-weight: 500;
  --heading-h4-medium-mobile-letter-spacing: -0.48px;
  --heading-h4-medium-mobile-line-height: 32px;
  --heading-h4-semibold-desktop-font-family: "Inter", Helvetica;
  --heading-h4-semibold-desktop-font-size: 28px;
  --heading-h4-semibold-desktop-font-style: normal;
  --heading-h4-semibold-desktop-font-weight: 600;
  --heading-h4-semibold-desktop-letter-spacing: -0.56px;
  --heading-h4-semibold-desktop-line-height: 36px;
  --heading-h4-semibold-mobile-font-family: "Inter", Helvetica;
  --heading-h4-semibold-mobile-font-size: 24px;
  --heading-h4-semibold-mobile-font-style: normal;
  --heading-h4-semibold-mobile-font-weight: 600;
  --heading-h4-semibold-mobile-letter-spacing: -0.48px;
  --heading-h4-semibold-mobile-line-height: 32px;
  --heading-h5-bold-desktop-font-family: "Inter", Helvetica;
  --heading-h5-bold-desktop-font-size: 24px;
  --heading-h5-bold-desktop-font-style: normal;
  --heading-h5-bold-desktop-font-weight: 700;
  --heading-h5-bold-desktop-letter-spacing: -0.48px;
  --heading-h5-bold-desktop-line-height: 32px;
  --heading-h5-bold-mobile-font-family: "Inter", Helvetica;
  --heading-h5-bold-mobile-font-size: 20px;
  --heading-h5-bold-mobile-font-style: normal;
  --heading-h5-bold-mobile-font-weight: 700;
  --heading-h5-bold-mobile-letter-spacing: -0.4px;
  --heading-h5-bold-mobile-line-height: 28px;
  --heading-h5-extrabold-desktop-font-family: "Inter", Helvetica;
  --heading-h5-extrabold-desktop-font-size: 24px;
  --heading-h5-extrabold-desktop-font-style: normal;
  --heading-h5-extrabold-desktop-font-weight: 800;
  --heading-h5-extrabold-desktop-letter-spacing: -0.48px;
  --heading-h5-extrabold-desktop-line-height: 32px;
  --heading-h5-extrabold-mobile-font-family: "Inter", Helvetica;
  --heading-h5-extrabold-mobile-font-size: 20px;
  --heading-h5-extrabold-mobile-font-style: normal;
  --heading-h5-extrabold-mobile-font-weight: 800;
  --heading-h5-extrabold-mobile-letter-spacing: -0.4px;
  --heading-h5-extrabold-mobile-line-height: 28px;
  --heading-h5-medium-desktop-font-family: "Inter", Helvetica;
  --heading-h5-medium-desktop-font-size: 24px;
  --heading-h5-medium-desktop-font-style: normal;
  --heading-h5-medium-desktop-font-weight: 500;
  --heading-h5-medium-desktop-letter-spacing: -0.48px;
  --heading-h5-medium-desktop-line-height: 28px;
  --heading-h5-medium-mobile-font-family: "Inter", Helvetica;
  --heading-h5-medium-mobile-font-size: 20px;
  --heading-h5-medium-mobile-font-style: normal;
  --heading-h5-medium-mobile-font-weight: 500;
  --heading-h5-medium-mobile-letter-spacing: -0.4px;
  --heading-h5-medium-mobile-line-height: 28px;
  --heading-h5-semibold-desktop-font-family: "Inter", Helvetica;
  --heading-h5-semibold-desktop-font-size: 24px;
  --heading-h5-semibold-desktop-font-style: normal;
  --heading-h5-semibold-desktop-font-weight: 600;
  --heading-h5-semibold-desktop-letter-spacing: -0.48px;
  --heading-h5-semibold-desktop-line-height: 32px;
  --heading-h5-semibold-mobile-font-family: "Inter", Helvetica;
  --heading-h5-semibold-mobile-font-size: 20px;
  --heading-h5-semibold-mobile-font-style: normal;
  --heading-h5-semibold-mobile-font-weight: 600;
  --heading-h5-semibold-mobile-letter-spacing: -0.4px;
  --heading-h5-semibold-mobile-line-height: 28px;
  --heading-h6-bold-desktop-font-family: "Inter", Helvetica;
  --heading-h6-bold-desktop-font-size: 20px;
  --heading-h6-bold-desktop-font-style: normal;
  --heading-h6-bold-desktop-font-weight: 700;
  --heading-h6-bold-desktop-letter-spacing: -0.4px;
  --heading-h6-bold-desktop-line-height: 28px;
  --heading-h6-bold-mobile-font-family: "Inter", Helvetica;
  --heading-h6-bold-mobile-font-size: 18px;
  --heading-h6-bold-mobile-font-style: normal;
  --heading-h6-bold-mobile-font-weight: 700;
  --heading-h6-bold-mobile-letter-spacing: -0.36px;
  --heading-h6-bold-mobile-line-height: 24px;
  --heading-h6-extrabold-desktop-font-family: "Inter", Helvetica;
  --heading-h6-extrabold-desktop-font-size: 20px;
  --heading-h6-extrabold-desktop-font-style: normal;
  --heading-h6-extrabold-desktop-font-weight: 800;
  --heading-h6-extrabold-desktop-letter-spacing: -0.4px;
  --heading-h6-extrabold-desktop-line-height: 28px;
  --heading-h6-extrabold-mobile-font-family: "Inter", Helvetica;
  --heading-h6-extrabold-mobile-font-size: 18px;
  --heading-h6-extrabold-mobile-font-style: normal;
  --heading-h6-extrabold-mobile-font-weight: 800;
  --heading-h6-extrabold-mobile-letter-spacing: -0.36px;
  --heading-h6-extrabold-mobile-line-height: 24px;
  --heading-h6-medium-desktop-font-family: "Inter", Helvetica;
  --heading-h6-medium-desktop-font-size: 20px;
  --heading-h6-medium-desktop-font-style: normal;
  --heading-h6-medium-desktop-font-weight: 500;
  --heading-h6-medium-desktop-letter-spacing: -0.4px;
  --heading-h6-medium-desktop-line-height: 28px;
  --heading-h6-medium-mobile-font-family: "Inter", Helvetica;
  --heading-h6-medium-mobile-font-size: 18px;
  --heading-h6-medium-mobile-font-style: normal;
  --heading-h6-medium-mobile-font-weight: 500;
  --heading-h6-medium-mobile-letter-spacing: -0.36px;
  --heading-h6-medium-mobile-line-height: 24px;
  --heading-h6-semibold-desktop-font-family: "Inter", Helvetica;
  --heading-h6-semibold-desktop-font-size: 20px;
  --heading-h6-semibold-desktop-font-style: normal;
  --heading-h6-semibold-desktop-font-weight: 600;
  --heading-h6-semibold-desktop-letter-spacing: -0.4px;
  --heading-h6-semibold-desktop-line-height: 28px;
  --heading-h6-semibold-mobile-font-family: "Inter", Helvetica;
  --heading-h6-semibold-mobile-font-size: 18px;
  --heading-h6-semibold-mobile-font-style: normal;
  --heading-h6-semibold-mobile-font-weight: 600;
  --heading-h6-semibold-mobile-letter-spacing: -0.36px;
  --heading-h6-semibold-mobile-line-height: 24px;
  --label-large-medium-font-family: "Inter", Helvetica;
  --label-large-medium-font-size: 16px;
  --label-large-medium-font-style: normal;
  --label-large-medium-font-weight: 500;
  --label-large-medium-letter-spacing: 0px;
  --label-large-medium-line-height: 18px;
  --label-large-regular-font-family: "Inter", Helvetica;
  --label-large-regular-font-size: 16px;
  --label-large-regular-font-style: normal;
  --label-large-regular-font-weight: 400;
  --label-large-regular-letter-spacing: 0px;
  --label-large-regular-line-height: 18px;
  --label-large-semibold-font-family: "Inter", Helvetica;
  --label-large-semibold-font-size: 16px;
  --label-large-semibold-font-style: normal;
  --label-large-semibold-font-weight: 600;
  --label-large-semibold-letter-spacing: 0px;
  --label-large-semibold-line-height: 18px;
  --label-large-special-italics-font-family: "Inter", Helvetica;
  --label-large-special-italics-font-size: 16px;
  --label-large-special-italics-font-style: italic;
  --label-large-special-italics-font-weight: 400;
  --label-large-special-italics-letter-spacing: 0px;
  --label-large-special-italics-line-height: 18px;
  --label-large-special-strikethrough-font-family: "Inter", Helvetica;
  --label-large-special-strikethrough-font-size: 16px;
  --label-large-special-strikethrough-font-style: normal;
  --label-large-special-strikethrough-font-weight: 400;
  --label-large-special-strikethrough-letter-spacing: 0px;
  --label-large-special-strikethrough-line-height: 18px;
  --label-large-special-underline-font-family: "Inter", Helvetica;
  --label-large-special-underline-font-size: 16px;
  --label-large-special-underline-font-style: normal;
  --label-large-special-underline-font-weight: 400;
  --label-large-special-underline-letter-spacing: 0px;
  --label-large-special-underline-line-height: 18px;
  --label-medium-medium-font-family: "Inter", Helvetica;
  --label-medium-medium-font-size: 14px;
  --label-medium-medium-font-style: normal;
  --label-medium-medium-font-weight: 500;
  --label-medium-medium-letter-spacing: 0px;
  --label-medium-medium-line-height: 16px;
  --label-medium-regular-font-family: "Inter", Helvetica;
  --label-medium-regular-font-size: 14px;
  --label-medium-regular-font-style: normal;
  --label-medium-regular-font-weight: 400;
  --label-medium-regular-letter-spacing: 0px;
  --label-medium-regular-line-height: 16px;
  --label-medium-semibold-font-family: "Inter", Helvetica;
  --label-medium-semibold-font-size: 14px;
  --label-medium-semibold-font-style: normal;
  --label-medium-semibold-font-weight: 600;
  --label-medium-semibold-letter-spacing: 0px;
  --label-medium-semibold-line-height: 16px;
  --label-medium-special-italics-font-family: "Inter", Helvetica;
  --label-medium-special-italics-font-size: 14px;
  --label-medium-special-italics-font-style: italic;
  --label-medium-special-italics-font-weight: 400;
  --label-medium-special-italics-letter-spacing: 0px;
  --label-medium-special-italics-line-height: 16px;
  --label-medium-special-strikethrough-font-family: "Inter", Helvetica;
  --label-medium-special-strikethrough-font-size: 14px;
  --label-medium-special-strikethrough-font-style: normal;
  --label-medium-special-strikethrough-font-weight: 400;
  --label-medium-special-strikethrough-letter-spacing: 0px;
  --label-medium-special-strikethrough-line-height: 16px;
  --label-medium-special-underline-font-family: "Inter", Helvetica;
  --label-medium-special-underline-font-size: 14px;
  --label-medium-special-underline-font-style: normal;
  --label-medium-special-underline-font-weight: 400;
  --label-medium-special-underline-letter-spacing: 0px;
  --label-medium-special-underline-line-height: 16px;
  --label-small-medium-font-family: "Inter", Helvetica;
  --label-small-medium-font-size: 12px;
  --label-small-medium-font-style: normal;
  --label-small-medium-font-weight: 500;
  --label-small-medium-letter-spacing: 0px;
  --label-small-medium-line-height: 16px;
  --label-small-regular-font-family: "Inter", Helvetica;
  --label-small-regular-font-size: 12px;
  --label-small-regular-font-style: normal;
  --label-small-regular-font-weight: 400;
  --label-small-regular-letter-spacing: 0px;
  --label-small-regular-line-height: 16px;
  --label-small-semibold-font-family: "Inter", Helvetica;
  --label-small-semibold-font-size: 12px;
  --label-small-semibold-font-style: normal;
  --label-small-semibold-font-weight: 600;
  --label-small-semibold-letter-spacing: 0px;
  --label-small-semibold-line-height: 16px;
  --label-small-special-italics-font-family: "Inter", Helvetica;
  --label-small-special-italics-font-size: 12px;
  --label-small-special-italics-font-style: italic;
  --label-small-special-italics-font-weight: 400;
  --label-small-special-italics-letter-spacing: 0px;
  --label-small-special-italics-line-height: 16px;
  --label-small-special-strikethrough-font-family: "Inter", Helvetica;
  --label-small-special-strikethrough-font-size: 12px;
  --label-small-special-strikethrough-font-style: normal;
  --label-small-special-strikethrough-font-weight: 400;
  --label-small-special-strikethrough-letter-spacing: 0px;
  --label-small-special-strikethrough-line-height: 16px;
  --label-small-special-underline-font-family: "Inter", Helvetica;
  --label-small-special-underline-font-size: 12px;
  --label-small-special-underline-font-style: normal;
  --label-small-special-underline-font-weight: 400;
  --label-small-special-underline-letter-spacing: 0px;
  --label-small-special-underline-line-height: 16px;
  --label-xsmall-medium-font-family: "Inter", Helvetica;
  --label-xsmall-medium-font-size: 10px;
  --label-xsmall-medium-font-style: normal;
  --label-xsmall-medium-font-weight: 500;
  --label-xsmall-medium-letter-spacing: 0px;
  --label-xsmall-medium-line-height: 14px;
  --label-xsmall-regular-font-family: "Inter", Helvetica;
  --label-xsmall-regular-font-size: 10px;
  --label-xsmall-regular-font-style: normal;
  --label-xsmall-regular-font-weight: 400;
  --label-xsmall-regular-letter-spacing: 0px;
  --label-xsmall-regular-line-height: 14px;
  --label-xsmall-semibold-font-family: "Inter", Helvetica;
  --label-xsmall-semibold-font-size: 10px;
  --label-xsmall-semibold-font-style: normal;
  --label-xsmall-semibold-font-weight: 600;
  --label-xsmall-semibold-letter-spacing: 0px;
  --label-xsmall-semibold-line-height: 14px;
  --label-xsmall-special-italics-font-family: "Inter", Helvetica;
  --label-xsmall-special-italics-font-size: 10px;
  --label-xsmall-special-italics-font-style: italic;
  --label-xsmall-special-italics-font-weight: 400;
  --label-xsmall-special-italics-letter-spacing: 0px;
  --label-xsmall-special-italics-line-height: 14px;
  --label-xsmall-special-strikethrough-font-family: "Inter", Helvetica;
  --label-xsmall-special-strikethrough-font-size: 10px;
  --label-xsmall-special-strikethrough-font-style: normal;
  --label-xsmall-special-strikethrough-font-weight: 400;
  --label-xsmall-special-strikethrough-letter-spacing: 0px;
  --label-xsmall-special-strikethrough-line-height: 14px;
  --label-xsmall-special-underline-font-family: "Inter", Helvetica;
  --label-xsmall-special-underline-font-size: 10px;
  --label-xsmall-special-underline-font-style: normal;
  --label-xsmall-special-underline-font-weight: 400;
  --label-xsmall-special-underline-letter-spacing: 0px;
  --label-xsmall-special-underline-line-height: 14px;
  --neutral-900: rgba(17, 24, 39, 1);
  --paragraph-large-medium-font-family: "Inter", Helvetica;
  --paragraph-large-medium-font-size: 18px;
  --paragraph-large-medium-font-style: normal;
  --paragraph-large-medium-font-weight: 500;
  --paragraph-large-medium-letter-spacing: 0px;
  --paragraph-large-medium-line-height: 28px;
  --paragraph-large-regular-font-family: "Inter", Helvetica;
  --paragraph-large-regular-font-size: 18px;
  --paragraph-large-regular-font-style: normal;
  --paragraph-large-regular-font-weight: 400;
  --paragraph-large-regular-letter-spacing: 0px;
  --paragraph-large-regular-line-height: 28px;
  --paragraph-large-semibold-font-family: "Inter", Helvetica;
  --paragraph-large-semibold-font-size: 18px;
  --paragraph-large-semibold-font-style: normal;
  --paragraph-large-semibold-font-weight: 600;
  --paragraph-large-semibold-letter-spacing: 0px;
  --paragraph-large-semibold-line-height: 28px;
  --paragraph-large-special-italics-font-family: "Inter", Helvetica;
  --paragraph-large-special-italics-font-size: 18px;
  --paragraph-large-special-italics-font-style: italic;
  --paragraph-large-special-italics-font-weight: 400;
  --paragraph-large-special-italics-letter-spacing: 0px;
  --paragraph-large-special-italics-line-height: 28px;
  --paragraph-large-special-strikethrough-font-family: "Inter", Helvetica;
  --paragraph-large-special-strikethrough-font-size: 18px;
  --paragraph-large-special-strikethrough-font-style: normal;
  --paragraph-large-special-strikethrough-font-weight: 400;
  --paragraph-large-special-strikethrough-letter-spacing: 0px;
  --paragraph-large-special-strikethrough-line-height: 28px;
  --paragraph-large-special-underline-font-family: "Inter", Helvetica;
  --paragraph-large-special-underline-font-size: 18px;
  --paragraph-large-special-underline-font-style: normal;
  --paragraph-large-special-underline-font-weight: 400;
  --paragraph-large-special-underline-letter-spacing: 0px;
  --paragraph-large-special-underline-line-height: 28px;
  --paragraph-medium-medium-font-family: "Inter", Helvetica;
  --paragraph-medium-medium-font-size: 16px;
  --paragraph-medium-medium-font-style: normal;
  --paragraph-medium-medium-font-weight: 500;
  --paragraph-medium-medium-letter-spacing: 0px;
  --paragraph-medium-medium-line-height: 24px;
  --paragraph-medium-regular-font-family: "Inter", Helvetica;
  --paragraph-medium-regular-font-size: 16px;
  --paragraph-medium-regular-font-style: normal;
  --paragraph-medium-regular-font-weight: 400;
  --paragraph-medium-regular-letter-spacing: 0px;
  --paragraph-medium-regular-line-height: 24px;
  --paragraph-medium-semibold-font-family: "Inter", Helvetica;
  --paragraph-medium-semibold-font-size: 16px;
  --paragraph-medium-semibold-font-style: normal;
  --paragraph-medium-semibold-font-weight: 600;
  --paragraph-medium-semibold-letter-spacing: 0px;
  --paragraph-medium-semibold-line-height: 24px;
  --paragraph-medium-special-italics-font-family: "Inter", Helvetica;
  --paragraph-medium-special-italics-font-size: 16px;
  --paragraph-medium-special-italics-font-style: italic;
  --paragraph-medium-special-italics-font-weight: 400;
  --paragraph-medium-special-italics-letter-spacing: 0px;
  --paragraph-medium-special-italics-line-height: 24px;
  --paragraph-medium-special-strikethrough-font-family: "Inter", Helvetica;
  --paragraph-medium-special-strikethrough-font-size: 16px;
  --paragraph-medium-special-strikethrough-font-style: normal;
  --paragraph-medium-special-strikethrough-font-weight: 400;
  --paragraph-medium-special-strikethrough-letter-spacing: 0px;
  --paragraph-medium-special-strikethrough-line-height: 24px;
  --paragraph-medium-special-underline-font-family: "Inter", Helvetica;
  --paragraph-medium-special-underline-font-size: 16px;
  --paragraph-medium-special-underline-font-style: normal;
  --paragraph-medium-special-underline-font-weight: 400;
  --paragraph-medium-special-underline-letter-spacing: 0px;
  --paragraph-medium-special-underline-line-height: 24px;
  --paragraph-overline-large-font-family: "Inter", Helvetica;
  --paragraph-overline-large-font-size: 14px;
  --paragraph-overline-large-font-style: normal;
  --paragraph-overline-large-font-weight: 600;
  --paragraph-overline-large-letter-spacing: 1px;
  --paragraph-overline-large-line-height: 20px;
  --paragraph-overline-small-font-family: "Inter", Helvetica;
  --paragraph-overline-small-font-size: 12px;
  --paragraph-overline-small-font-style: normal;
  --paragraph-overline-small-font-weight: 600;
  --paragraph-overline-small-letter-spacing: 1px;
  --paragraph-overline-small-line-height: 20px;
  --paragraph-small-medium-font-family: "Inter", Helvetica;
  --paragraph-small-medium-font-size: 14px;
  --paragraph-small-medium-font-style: normal;
  --paragraph-small-medium-font-weight: 500;
  --paragraph-small-medium-letter-spacing: 0px;
  --paragraph-small-medium-line-height: 20px;
  --paragraph-small-regular-font-family: "Inter", Helvetica;
  --paragraph-small-regular-font-size: 14px;
  --paragraph-small-regular-font-style: normal;
  --paragraph-small-regular-font-weight: 400;
  --paragraph-small-regular-letter-spacing: 0px;
  --paragraph-small-regular-line-height: 20px;
  --paragraph-small-semibold-font-family: "Inter", Helvetica;
  --paragraph-small-semibold-font-size: 14px;
  --paragraph-small-semibold-font-style: normal;
  --paragraph-small-semibold-font-weight: 600;
  --paragraph-small-semibold-letter-spacing: 0px;
  --paragraph-small-semibold-line-height: 20px;
  --paragraph-small-special-italics-font-family: "Inter", Helvetica;
  --paragraph-small-special-italics-font-size: 14px;
  --paragraph-small-special-italics-font-style: italic;
  --paragraph-small-special-italics-font-weight: 400;
  --paragraph-small-special-italics-letter-spacing: 0px;
  --paragraph-small-special-italics-line-height: 20px;
  --paragraph-small-special-strikethrough-font-family: "Inter", Helvetica;
  --paragraph-small-special-strikethrough-font-size: 14px;
  --paragraph-small-special-strikethrough-font-style: normal;
  --paragraph-small-special-strikethrough-font-weight: 400;
  --paragraph-small-special-strikethrough-letter-spacing: 0px;
  --paragraph-small-special-strikethrough-line-height: 20px;
  --paragraph-small-special-underline-font-family: "Inter", Helvetica;
  --paragraph-small-special-underline-font-size: 14px;
  --paragraph-small-special-underline-font-style: normal;
  --paragraph-small-special-underline-font-weight: 400;
  --paragraph-small-special-underline-letter-spacing: 0px;
  --paragraph-small-special-underline-line-height: 20px;
  --paragraph-xsmall-medium-font-family: "Inter", Helvetica;
  --paragraph-xsmall-medium-font-size: 12px;
  --paragraph-xsmall-medium-font-style: normal;
  --paragraph-xsmall-medium-font-weight: 500;
  --paragraph-xsmall-medium-letter-spacing: 0px;
  --paragraph-xsmall-medium-line-height: 20px;
  --paragraph-xsmall-regular-font-family: "Inter", Helvetica;
  --paragraph-xsmall-regular-font-size: 12px;
  --paragraph-xsmall-regular-font-style: normal;
  --paragraph-xsmall-regular-font-weight: 400;
  --paragraph-xsmall-regular-letter-spacing: 0px;
  --paragraph-xsmall-regular-line-height: 20px;
  --paragraph-xsmall-semibold-font-family: "Inter", Helvetica;
  --paragraph-xsmall-semibold-font-size: 12px;
  --paragraph-xsmall-semibold-font-style: normal;
  --paragraph-xsmall-semibold-font-weight: 600;
  --paragraph-xsmall-semibold-letter-spacing: 0px;
  --paragraph-xsmall-semibold-line-height: 20px;
  --paragraph-xsmall-special-italics-font-family: "Inter", Helvetica;
  --paragraph-xsmall-special-italics-font-size: 12px;
  --paragraph-xsmall-special-italics-font-style: italic;
  --paragraph-xsmall-special-italics-font-weight: 400;
  --paragraph-xsmall-special-italics-letter-spacing: 0px;
  --paragraph-xsmall-special-italics-line-height: 20px;
  --paragraph-xsmall-special-strikethrough-font-family: "Inter", Helvetica;
  --paragraph-xsmall-special-strikethrough-font-size: 12px;
  --paragraph-xsmall-special-strikethrough-font-style: normal;
  --paragraph-xsmall-special-strikethrough-font-weight: 400;
  --paragraph-xsmall-special-strikethrough-letter-spacing: 0px;
  --paragraph-xsmall-special-strikethrough-line-height: 20px;
  --paragraph-xsmall-special-underline-font-family: "Inter", Helvetica;
  --paragraph-xsmall-special-underline-font-size: 12px;
  --paragraph-xsmall-special-underline-font-style: normal;
  --paragraph-xsmall-special-underline-font-weight: 400;
  --paragraph-xsmall-special-underline-letter-spacing: 0px;
  --paragraph-xsmall-special-underline-line-height: 20px;
  --shadow-product: 0px 0px 0px 6px rgba(37, 99, 235, 0.1);
}
