

.design-component-instance-node {
  border-color: unset !important;
}

.nav-bar-container {
  position: relative;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger-menu span {
  width: 30px;
  height: 3px;
  background: #000;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fcfdfd;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mobile-menu a {
  display: block;
  margin: 10px 0;
  color: #000;
  text-decoration: none;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }

  .mobile-menu {
    display: block;
  }
}